/* @import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Moon+Dance&family=Poppins:ital,wght@1,200&display=swap');

*{

        margin-right:0px;
        padding:0px;
        box-sizing: border-box;
        /* font-family: 'Moon Dance', cursive; */
        /* font-family: 'Lobster', cursive; */


}
.navbar{
        width:99.4vw;
        background-color: rgb(22, 14, 14)

}
.text-logo{
        font-family: 'Lobster', cursive;

}
.logo{
  
        height:50px;
        width:50px;
        background-color: white;
        border-radius: 20px;
        color:gray;
        font-size: 30px;
    
}

.pointer_cursor{
        cursor: pointer;
}


