@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.headings{
    font-family: 'Moon Dance', cursive;
}
.bookingbox{
    width:90vw;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.roomimg{
    /* width:50%; */
    height:50vh;
    width:100%;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}


@media screen and (max-width:800px) {
    .roomimg{
        height:30vh;
        margin-top: 50px;
    }
}
