*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

.admin-box{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width:90vw;
    /* height:350vh; */
    

}
.box{
    /* height: 85vh; */
}

.font-large{
    font-size: 1.5rem !important;
}

.table{
color: white !important;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.heading-box{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
tbody tr td{
    color: white !important;
    font-weight: 1rem ;
}

.text-dark{
    color: black !important;
}
.addroombox{
    /* background-color: black; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}



@media screen and (max-width:1400px){
    .admin-box{
        height:250vh;
    }
}